@model CocktailMagician.Web.Models.BarViewModel




<div>
    <h3 style="position:relative; top:50px;left:150px">@Model.Name</h3>
    <hr />

    <div class="col-md-5 order-md-1">
        <img style="position:relative;top:15px" src=@Model.ImageURL alt="Generic placeholder image" width="600" height="500">
    </div>
    <div class="col-md-7 order-md-2" style="position:relative; left:600px;top:-300px;">
        <p class="lead"><h4 style="color:#b58900">Address: </h4> <h6>@Model.Address</h6></p>
        <p class="lead"><h4 style="color:#b58900">Phone: </h4> <h6>@Model.Phone </h6></p>
        <p class="lead"><h4 style="color:#b58900">Country origin: </h4> <h6>@Model.CountryName</h6></p>
    </div>

</div>

@{
    var partialModel = new BarCommentViewModel() { BarId = Model.Id };


  }
<partial name="_CommentsPartial" model="@partialModel" />


