@model BarViewModel

@{
    ViewData["Title"] = "List";
}
<link rel="stylesheet" href="~/css/Button3Dclick.css" />


<table id="table_id" class="table-hover" width="100%">
    <thead>
        <tr>

            <th>
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                Country
            </th>
            <th>
                Cocktails
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.items)
        {
            <tr>

                <td>
                    <img src="@item.ImageURL" alt="Generic placeholder image" width="140" height="100">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryName)
                </td>
                <td>
                    @item.BarCocktails.Count
                </td>
                <td>
                    <a style="color:#b58900" asp-action="BarDetails" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a class="button" data-toggle="modal" data-target="#modalCreateBar">Create New</a>
    <partial model="new BarViewModel()" name="_CreateBarModal" />
</p>
@{
    var hasPrev = !Model.hasPrev ? "disabled" : "";
    var hasNext = !Model.hasNext ? "disabled" : "";
}

<a asp-action="ListBars"
   asp-route-orderBy="@ViewData["CurrentSort"]"
   asp-route-currentPage=@(Model.currentPage-1)
   asp-route-searchCriteria="@ViewData["SearchParm"]"
   asp-route-type="@ViewData["Type"]"
   class="btn btn-primary @hasPrev" id="pagination">
    Prev
</a>
<a asp-action="ListBars"
   asp-route-orderBy="@ViewData["CurrentSort"]"
   asp-route-currentPage=@(Model.currentPage + 1)
   asp-route-searchCriteria="@ViewData["SearchParm"]"
   asp-route-type="@ViewData["Type"]"
   class="btn btn-primary @hasNext" id="pagination">
    Next
</a>
