@model IngredientViewModel
@{
    ViewData["Title"] = "List";
}
<link rel="stylesheet" href="~/css/Button3Dclick.css" />

<form style="margin-top:100px">

    <label asp-for="SearchCriteria">Search keyword:</label>
    <input asp-for="SearchCriteria" />

    <div class="form-group">
        <input type="submit" value="Search" class="button" />
    </div>
</form>
<table id="table_id" class="table-hover" width="100%" style="margin-top:100px">
    <thead>
        <tr>


            <th>
                Name
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.items)
        {

            <tr>



                <td>
                   
                        @item.Name
                   
                </td>

            </tr>
        }
    </tbody>
</table>
<p>
    @if (User.IsInRole("Magician"))
    {
    <p style="position:relative;top: 24px;
    left:1000px;
    right: 0px;
    bottom: 0px;">
        <a class="button" data-toggle="modal" data-target="#modalCreateIngredient">Create New</a>
        <partial model="new IngredientViewModel()" name="_CreateIngredientPartial" />
    </p>

}

    @{
        var hasPrev = !Model.hasPrev ? "disabled" : "";
        var hasNext = !Model.hasNext ? "disabled" : "";
    }

    <a asp-action="ListIngredients"
       asp-route-orderBy="@ViewData["CurrentSort"]"
       asp-route-currentPage=@(Model.currentPage-1)
       asp-route-searchCriteria="@ViewData["SearchParm"]"
       asp-route-type="@ViewData["Type"]"
       class="button  @hasPrev" id="pagination">
        Prev
    </a>
    <a asp-action="ListIngredients"
       asp-route-orderBy="@ViewData["CurrentSort"]"
       asp-route-currentPage=@(Model.currentPage + 1)
       asp-route-searchCriteria="@ViewData["SearchParm"]"
       asp-route-type="@ViewData["Type"]"
       class="button  @hasNext" id="pagination">
        Next
    </a>

























































































































































































