@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CocktailMagician</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/material-kit.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Button3Dclick.css" />
    <link rel="stylesheet" href="~/css/ff0cf.css" />
    <link rel="stylesheet" href="~/css/55c9c.css" />
    <link rel="stylesheet" href="~/css/swiper.min.css">
    <link rel="stylesheet" href="~/css/179ed.css">
    <link rel="stylesheet" href="~/css/cb957.css">
    <link rel="stylesheet" href="~/css/TopOfPage.css" />
    <link rel="stylesheet" href="~/css/mdb.min.css" />


    <meta charset="utf-8" />

    <link href="https://kendo.cdn.telerik.com/2020.2.513/styles/kendo.bootstrap-v4.min.css" rel="stylesheet" type="text/css" />

    <script src="https://kendo.cdn.telerik.com/2020.2.513/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.2.513/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.2.513/js/kendo.aspnetmvc.min.js"></script>

</head>
<body style="background-color:black; margin-top:-25px;">



    <header>
        <nav class="main_menu drop_down center">
            <ul id="menu-menu" class="">
                <li id="nav-menu-item-238" class="menu-item menu-item-type-post_type menu-item-object-page  narrow">
                    <a asp-controller="Home" asp-action="Index" class=""><i class="menu_icon blank fa"></i><span>Home<span class="underline_dash"></span></span><span class="plus"></span></a>
                </li>
                <li id="nav-menu-item-85" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home  narrow">
                    <a asp-controller="Bar" asp-action="ListBars" class=""><i class="menu_icon blank fa"></i><span>Bars<span class="underline_dash"></span></span><span class="plus"></span></a>
                <li id="nav-menu-item-236" class="menu-item menu-item-type-post_type menu-item-object-page  narrow">
                    <a asp-controller="Cocktail" asp-action="ListCocktails" class=""><i class="menu_icon blank fa"></i><span>Cocktails<span class="underline_dash"></span></span><span class="plus"></span></a>
                </li>
                <li id="nav-menu-item-237" class="menu-item menu-item-type-post_type menu-item-object-page  narrow">
                    <a asp-controller="Ingredient" asp-action="ListIngredients" class=""><i class="menu_icon blank fa"></i><span>Ingredients<span class="underline_dash"></span></span><span class="plus"></span></a>
                </li>

                <partial name="_LoginPartial" />
            </ul>

        </nav>
    </header>



    @{ var controller = Url.ActionContext.RouteData.Values["controller"];
        var action = Url.ActionContext.RouteData.Values["action"];
    }


    @if (!((string)controller == "Home" && (string)action == "Index"))
    {

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    }
    else
    {

        <main role="main" class="pb-3">
            @RenderBody()
        </main>


    }

    <a id="button"></a>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/TopOfPage.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/swiper.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/mdb.min.js"></script><div class="hiddendiv common"></div>



    @RenderSection("Scripts", required: false)
    <script>
        $(document).ready(function () {
            $('.mdb-select').material_select();
        });
    </script>
</body>
</html>

                @*@if (SignInManager.IsSignedIn(User))
                {
                    <li id="nav-menu-item-238" class="menu-item menu-item-type-post_type menu-item-object-page  narrow">
                        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class=""><i class="menu_icon blank fa"></i><span>Hello @User.Identity.Name!<span class="underline_dash"></span></span><span class="plus"></span></a>
                    </li>

                    <li class="nav-item">
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                        </form>
                    </li>
                    <li id="nav-menu-item-238" class="menu-item menu-item-type-post_type menu-item-object-page  narrow">
                        <a asp-area="Identity" asp-page="/Account/Login" class=""><i class="menu_icon blank fa"></i><span>Home<span class="underline_dash"></span></span><span class="plus"></span></a>
                    </li>
                }
                else
                {
                    <li id="nav-menu-item-238" class="menu-item menu-item-type-post_type menu-item-object-page  narrow">
                        <a asp-area="Identity" asp-page="/Account/Register" class=""><i class="menu_icon blank fa"></i><span>Home<span class="underline_dash"></span></span><span class="plus"></span></a>
                    </li>

                    <li id="nav-menu-item-238" class="menu-item menu-item-type-post_type menu-item-object-page  narrow">
                        <a asp-area="Identity" asp-page="/Account/Login" class=""><i class="menu_icon blank fa"></i><span>Home<span class="underline_dash"></span></span><span class="plus"></span></a>
                    </li>

                }*@