@model CocktailMagician.Web.Models.CocktailViewModel


<link rel="stylesheet" href="~/css/Rating.css" />

<div>
    <h3 @*style="position:relative; top:50px;left:150px"*@>@Model.Name</h3>
    <hr />

    <div class="col-md-5 order-md-1">
        <img style="width:600px; height:500px;" src=@Model.ImageURL alt="Generic placeholder image">
    </div>
    <div class="col-md-7 order-md-2" style="        position: relative;
    left: 587px;
    top: -453px;">
        <p class="lead"><h4 style="color:#b58900">AlcoholPercentage: </h4> <h6>@Model.AlcoholPercentage</h6></p>

    </div>
    <div @*style="    position: relative;
    left: 604px;
    top: -670px;"*@>
        <h4 style="color:orange">Ingredients</h4>
        @{var lsitNames = new List<string>();}
        @foreach (var item in Model.Ingredients)
        {
            lsitNames.Add(item.IngredientName);
        }
        <p>@String.Join(',', lsitNames)</p>






    </div>
</div>
<div style="position: absolute;
   margin-top: -622px;
    margin-left: 840px;">
    <h4 style="color:orange"> Bars that offer this cocktail.</h4>
    @foreach (var item in Model.Bars)
    {

        <div>
            <a asp-controller="Bar" asp-action="BarDetails" asp-route-id="@item.BarId">
                <p style="color:white">@item.Bar.Name</p>
            </a>
        </div>
    }
</div>

@if (User.IsInRole("Magician"))
{

    <a class="button" style="position: absolute;
    margin-top: 108px;
    margin-left: -114px;" onclick="return confirm('Are you sure you want to delete @Model.Name ?');" asp-area="Magician" asp-controller="Cocktail" asp-action="DeleteCocktail" asp-route-id="@Model.Id">Delete</a>
}
@if (User.IsInRole("Crawler"))
{
    <form id="rating"
          method="post"
          action-xhr="https://amp.dev/documentation/examples/interactivity-dynamic-content/star_rating/set"
          target="_blank">
        <fieldset class="rating">
            @{int rating = 0; }
            <input name="rating"
                   type="radio"
                   id="rating5"
                   value="5"
                   on="change:rating.submit"
                   onclick="@rating=5;">
            <label for="rating5"
                   title="5 stars">☆</label>


            <input name="rating"
                   type="radio"
                   id="rating4"
                   value="4"
                   on="change:rating.submit"
                   onclick="@rating=4;">
            <label for="rating4"
                   title="4 stars">☆</label>


            <input name="rating"
                   type="radio"
                   id="rating3"
                   value="3"
                   on="change:rating.submit"
                   onclick="@rating=3;">
            <label for="rating3"
                   title="3 stars">☆</label>


            <input name="rating"
                   type="radio"
                   id="rating2"
                   value="2"
                   on="change:rating.submit"
                   checked="checked" onclick="@rating=2;">
            <label for="rating2"
                   title="2 stars">☆</label>


            <input name="rating"
                   type="radio"
                   id="rating1"
                   value="1"
                   on="change:rating.submit"
                   onclick="@rating=1;">
            <label for="rating1"
                   title="1 stars">☆</label>

        </fieldset>
        <button class="button" onclick="return confirm('Are you sure you want to rate @Model.Name ?');" type="submit" asp-area="Crawler" asp-controller="Cocktail" asp-action="RateCocktail" asp-route-rating="@rating" asp-route-id="@Model.Id">Submit Rating</button>

    </form>

    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js"></script>


    var partialModel = new CocktailCommentViewModel() { CocktailId = Model.Id };

    <partial name="_CommentsPartialCocktail" model="@partialModel" />

}


@if (User.IsInRole("Magician"))
{
    <a class="button" style="position: absolute;
    margin-top: 640px;
    margin-left: -121px;"
       data-toggle="modal" data-target="#modalAddIngrToCocktail">Add Ingredients to cocktail</a>
    <partial model="new CocktailViewModel() {Id=Model.Id, Name = Model.Name,
    IngredientsToChoose = Model.IngredientsToChoose }" name="_AddIngrToCocktail" />

    <a class="button" data-toggle="modal" style=" position: relative;
    left: -457px;
    top: -361px;" data-target="#modalUpdateCocktail">
        Update
    </a>
    <partial name="_UpdateBar" model="new CocktailViewModel() {Id=Model.Id, Name = Model.Name, AlcoholPercentage = Model.AlcoholPercentage,
     }" />

}
<div style="position: absolute;
    margin-top: -103px;
    margin-left: 254px;">

    @foreach (var item in Model.Comments)
    {
        <style>

            #rcorners2 {
                border-radius: 25px;
                border: 2px solid #eda215;
                padding: 20px;
                width: 300px;
                height: 100px;
            }
        </style>
        <div @*style="position: relative;
    top: -200px;"*@>
            <p>@item.Name</p>
            <p id="rcorners2">@item.Comment</p>
        </div>

    }
</div>
