@model CocktailViewModel

@{
    ViewData["Title"] = "ListCocktails";
}

<h1>ListCocktails</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table-hover">
    <thead>
        <tr>

            <th>
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlcoholPercentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAlcoholic)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.items)
        {
            <tr>

                <td>
                    <img src="@item.ImageURL" alt="Generic placeholder image" width="140" height="100">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AlcoholPercentage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAlcoholic)
                </td>

            </tr>
        }
    </tbody>
</table>
<a class="button" data-toggle="modal" data-target="#modalCreateCocktail">Create New</a>
<partial model="new CocktailViewModel()" name="_CreateCocktailModal" />


<a asp-action="ListCocktails"
   asp-route-orderBy="@ViewData["CurrentSort"]"
   asp-route-currentPage=@(Model.currentPage-1)
   asp-route-searchCriteria="@ViewData["SearchParm"]"
   asp-route-type="@ViewData["Type"]"
   class="btn btn-primary @Model.hasPrev" id="pagination">
    Prev
</a>
<a asp-action="ListCocktails"
   asp-route-orderBy="@ViewData["CurrentSort"]"
   asp-route-currentPage=@(Model.currentPage + 1)
   asp-route-searchCriteria="@ViewData["SearchParm"]"
   asp-route-type="@ViewData["Type"]"
   class="btn btn-primary @Model.hasNext" id="pagination">
    Next
</a>